body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}
header {
    background-image: url("https://services.meteored.com/img/article/ocean-warming-increasing-extreme-weather-events-study-climate-change-1666190234060_1280.jpeg");
    background-size: cover;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Tornado-pic{
    width: 300px;
}
.Tornado-pic2{
    width: 300px;
}
.Tornado-pic3{
    width: 215px;
}
.Hurricane-pic{
    width: 300px;
}
.Hurricane-pic2{
    width: 375px;
}
.Hurricane-pic3{
    width: 300px;
}
.Tsunami-pic{
    width: 360px;
}
.Tsunami-pic2{
    width: 310px;
}
.Tsunami-pic3{
    width: 290px;
}